<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ласкаво просимо до української спільноти OpenStreetMap!</h2>
            </div>
            <div class="col-lg-12 text-justify">
                <p class="lead"><a target="_blank" href="http://openstreetmap.org/">OpenStreetMap</a>&nbsp;— міжнародний проєкт, метою якого є створення вільної, відкритої мапи світу!</p>
                <p class="lead">Велика кількість учасників по всьому світу прямо зараз додають дані про місцевість, в якій вони проживають, допомагають наповнити мапу даними про об’єкти інфраструктури поруч із ними, беруть участь у створенні мапи для допомоги постраждалим у зонах стихійних лих, катастроф і таке інше.</p>
                <p class="lead">Дані, зібрані учасниками проєкту, є вільними, відкритими та безкоштовними. Вони отримані з відкритих джерел, <a target="_blank" href="http://www.openstreetmap.org/copyright#contributors">передані урядовими та комерційними організаціями</a>, а також зібрані в ході досліджень місцевості рядовими учасниками проєкту.</p>
                <p class="lead">OpenStreetMap&nbsp;— це <i><a target="_blank" href="http://www.openstreetmap.org/about#open-data">відкриті дані</a></i>: ви можете вільно використовувати їх для будь-яких цілей, доки згадуєте <a target="_blank" href="http://www.openstreetmap.org/copyright">OpenStreetMap і його учасників</a>.</p>
                <p class="lead">Брати участь у проєкті може кожен, хто бажає покращити мапу. Для того щоб почати її вдосконалювати, потрібно <a target="_blank" href="http://www.openstreetmap.org/user/new">зареєструватися</a>. Перед тим як розпочати, ознайомтеся з <b>Керівництвом для початківців</b> на <a target="_blank" href="http://learnosm.org/uk/">LearnOSM</a> — це значно полегшить вам початок роботи над вдосконаленям мапи.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
