<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Приєднатися до спільноти OpenStreetMap.</h3>
                <a target="_blank" href="http://www.openstreetmap.org/user/new" class="btn btn-lg btn-light">Зареєструватись!</a>
                <a target="_blank" href="http://www.openstreetmap.org/" class="btn btn-lg btn-dark">На головний сайт!</a>
            </div>
        </div>
    </div>
</aside>
