<footer id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          {% if site.telephone %}
          <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
          {% endif%}
          {% if site.email %}
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            {% endif%}
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fas fa-globe-europe fa-fw fa-3x"></i></a> <!-- previously used fab fa-dribbble-->
          </li>
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fab fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://community.openstreetmap.org/c/communities/{{ site.community }}/"><i class="fab fa-discourse fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://bsky.app/profile/{{ site. bluesky_username }}"><i class="fas fa-chalkboard-teacher fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://t.me/{{ site.telegram_username }}"><i class="fab fa-telegram fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://bit.ly/SlackOsmUa" title="{{ site.slack_username }}"><i class="fab fa-slack fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        <p class="text-muted">Шаблон &copy; Stylish Portfolio by <a target="_blank"
            href="http://startbootstrap.com/template-overviews/stylish-portfolio/">Start Bootstrap</a></p>
      </div>
    </div>
  </div>
</footer>