<header id="top" class="header">
    <div class="text-vertical-center">
      <div class="main-title">
        <h1>Open<br class="brnodisplay-n">Street<br class="brnodisplay-w">Map <br class="brnodisplay-w">Україна</h1>
        <h3>Вільна мапа — створювати яку може кожен</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Дізнайтеся більше</a>
      </div>
      <div class="text-left-bottom">
        <a class="btn btn-dark btn-sm" target="_blank" href="https://ua.krymr.com/a/ostriv-zmiinyi-chorne-more-krym-ukraina-rosia/31440283.html">Фото: Крим.Реалії, Анна Андрієвська, вересень 2021</a>
      </div>
    </div>
</header>
