<script src='https://unpkg.com/maplibre-gl/dist/maplibre-gl.js'></script>
<link href='https://unpkg.com/maplibre-gl/dist/maplibre-gl.css' rel='stylesheet' />

<section
  id="map"
  class="map"
>

  <script>
    var map = new maplibregl.Map({
        style: 'https://tile.openstreetmap.org.ua/styles/osm-bright/style.json',
        center: [31.421, 48.600],
        zoom: 5.3,
        container: 'map',
        antialias: true,
        attributionControl: false,
        cooperativeGestures: true,
        locale: {
            'CooperativeGesturesHandler.WindowsHelpText': 'Використовуйте Ctrl + прокрутку, щоб змінти масштаб мапи.',
            'CooperativeGesturesHandler.MacHelpText': 'Використовуйте ⌘ + прокрутку, щоб змінти масштаб мапи.',
            'CooperativeGesturesHandler.MobileHelpText': 'Використовуйте два пальці для переміщення мапи.',
        },
    });
    map.addControl(new maplibregl.FullscreenControl(), 'top-left');
    
    map.addControl(new maplibregl.NavigationControl(), 'top-left');

    map.addControl(new maplibregl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    }), 'top-left');
    
    // Add attribution
    map.addControl(new maplibregl.AttributionControl({
            customAttribution: 'Дані ©Учасники OpenStreetMap',
            compact: false
            }));
    
    var scale = new maplibregl.ScaleControl({
        maxWidth: 80,
        unit: 'imperial'
    });
    map.addControl(scale);

    scale.setUnit('metric');

  </script>
</section>
