<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Дізнатись ще</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-vertical-center">
                          <h3>Контакти</h3>
                        </div>
                        <div class="portfolio-item">
                            <a target="_blank"  href="http://wiki.openstreetmap.org/wiki/Uk:Contact">
                                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-vertical-center">
                        <h3>Вікі OpenStreetMap</h3>
                      </div>
                        <div class="portfolio-item">
                            <a target="_blank"  href="http://wiki.openstreetmap.org/wiki/Uk:Main_Page">
                                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                          <div class="text-vertical-center">
                            <h3>Форум</h3>
                          </div>
                            <a target="_blank"  href="http://forum.openstreetmap.org/viewforum.php?id=40">
                                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                          <div class="text-vertical-center">
                            <h3>Інструменти</h3>
                          </div>
                            <a target="_blank"  href="https://josm.openstreetmap.de/wiki/Uk%3AWikiStart">
                                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">Та багато іншого</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
