<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Що далі?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Перейти до мапи</strong>
                            </h4>
                            <p>Для того щоб перейти до перегляду мапи, натисть на кнопку</p>
                            <a href="#map" class="btn btn-light">Вперед</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Внесення змін</strong>
                            </h4>
                            <p>Знайшли помилку, відсутні дані? Перейдіть в онлайн-редактор, щоб виправити це.</p>
                            <a target="_blank" href="http://www.openstreetmap.org/edit" class="btn btn-light">Редагувати</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Завдання з мапінгу</strong>
                            </h4>
                            <p>Бажаєте з іншими спільно додавати дані? Перейдіть до Менеджера завдань OSM.</p>
                            <a target="_blank" href="http://tasks.openstreetmap.org.ua/" class="btn btn-light">Долучитись</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Контроль якості</strong>
                            </h4>
                            <p>Інструменти перевірки та підтримання якості наших даних.</p>
                            <br>
                            <a target="_blank"  href="https://pavlo-dudka.github.io/osm-pg-tests/" class="btn btn-light">Перейти</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
