<section id="tile-server" class="tile-server bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Використання даних OSM згідно з законодавства України</h2>
            </div>
            <div class="col-lg-12 text-justify">
                <p class="lead">Багато онлайн-ресурсів не завжди правильно показують кордони України. Тайл-сервер української спільноти подає державні кордони відповідно до законодавства Україні та міжнародно визначених меж використовуючи дані OpenStreetMap. Крим&nbsp;— це Україна!</p>
                <p class="lead">Тайл сервер можливо використовувати на некомерційних сайтах по Ліцензії ODbl так і для комерційних проєктів.</p>
                <p class="lead">На Українському тайл сервері ви можете використовувати як векторні, так і растрові тайли</p>
                <p class="lead"><a target="_blank" href="https://tile.openstreetmap.org.ua/">Тайл сервер спільноти OSM Україна</a>&nbsp;— сторінка де можливо ознайомитися з можливостями сервера та отримати посилання на самі тайли.</p>
                <p class="lead"><a target="_blank" href="https://switch2.openstreetmap.org.ua/using-tiles/getting-started-with-leaflet/">Використання Leaflet для показу мапи</a> тут ви зможете віднайти інформацію як їх використовувати на ваших сайтах і проєктах.</p>
                <p class="lead">Сервер розроблений та підтримується співробітниками групи компаній Fozzy Group <a  target="_blank" href="https://www.fozzy.ua/ua/">https://www.fozzy.ua/ua/</a> , за що їм велика подяка від української спільности OSM.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>